<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Nueva Persona</title>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Nueva Persona</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" action="#" th:object="${persona}"
				th:action="@{/personas}" method="POST" style="margin: 10px">
				<div class="form-group">
					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
								<label>Nombre</label> <input type="text"
									class="form-control input-sm" th:field="*{nombre}"
									autofocus="autofocus" placeholder="Nombre" maxlength="50" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('apellido')}? 'has-error'">
								<label>Apellidos</label> <input type="text"
									class="form-control input-sm" th:field="*{apellido}"
									autofocus="autofocus" placeholder="Apellidos" maxlength="50" />
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-4"
								th:classappend="${#fields.hasErrors('dni')}? 'has-error'">
								<label>DNI</label> <input type="number"
									class="form-control input-sm" th:field="*{dni}"
									autofocus="autofocus" placeholder="DNI" maxlength="15" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Guardar</button>
					<a th:href="@{/personas}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>